body {
    padding-top: 50px;
    padding-bottom: 20px;

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* Changes color of navigation bar */
.navbar {
    background-color: #040321;
}


/* Adjustments to home page */
.jumbotron
{

    text-align:center;

}

#home-links{

    margin: 4em 0 2em 0;

}

#home-links p{

    display: inline;

}

.home-btn + .home-btn{

    margin-left: 2em;

}


/* Adjustments to other pages */


.search-bar{

    margin-top: 1em;

}

.info-box {

    margin: 1.75em 0;

}

.list-box {
    margin: 1.5em 0;
}


/* Adjustments to Teacher Adding */

.add-link {

    color: #409712;

}

.add-pair input, .add-pair label {
    display: block;
}

.add-pair {

    margin-top: 1.5em;

}

.submit-btn {

    margin-top: 1.5em;

}


/* Adjustments to Teacher Deletion */

.delete-link {

    color: #c41515;
    float:right;

}

.warning{

    text-align:center;

}

.delete-btn {
    background-color: #a72525;
    margin: 1em;
    padding: 10px;
    color:white;
    border:none;
    font-size:1.5em;
    border-radius: 15px;
}

.return-link {
    padding-top: 1em;
}


/* Adjustments to Teacher Updating */

#update-link {
    color: #e342de;
}

.update-pair {
    margin-top: 1.5em;
}
