<div class="jumbotron">
    <h1>The School Database</h1>
    <div id="home-links">
        <p class="home-btn"><a href="/Teacher/List" class="btn btn-primary btn-lg">List of Teachers &raquo;</a></p>
        <p class="home-btn"><a href="/Student/List" class="btn btn-primary btn-lg">List of Students &raquo;</a></p>
        <p class="home-btn"><a href="/Course/List" class="btn btn-primary btn-lg">List of Courses &raquo;</a></p>
    </div>
</div>

